@import url('fonts/stylesheet.css');
body{
    margin: 0px;
    padding: 0px;
    background-color: #2c6fbb;
    min-height: 100vh;
}
  
  .main-content {
    flex-grow: 1;
  }
  html {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5{
    color: white;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: 0%;
    padding-top: 0%;
    margin-top: 0%;
}
h1{
    font-size: 300%;
}
h2{
    font-size: 35px;
}
h3{
    font-size:33px;
}

p, ol, ul{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

label{
    color: #133e5e;
    font-family: 'Open Sans', sans-serif;
    font-size: 125%;
}

input{
    color: #133e5e;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #133e5e;
    font-size: 125%;   
}

hr{
    border: 1px solid #133e5e;
}
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}
nav{
    width: 100%;
    height: 55px;
    background-color: #133e5e;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.11);
}
nav ul{
    float: right;
    margin-right: 5%;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size:24px;
    text-align: none;
    padding-left: 28px;
    padding-right: 28px;
    display: block;
}
nav ul li a:hover{
    background-color: white;
    color: #133e5e;
}
nav ul li ul{
    display: none;
    position: absolute;
    background-color: #133e5e;
    padding: 7px;
    border-radius: 0px 0px 12px 12px;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li a{
    color: white;
    text-decoration: none;
    padding: 16px 20px;
}
nav ul li ul li a:hover{
    color: #133e5e;
    text-decoration: none;
    padding: 16px 20px;
    border-radius: 10px;
}


.background{
    background-color: #2c6fbb;
    height: auto;
    margin-top: 0px;
    /* height: 100%; */
}
.seiteninhalt{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.header{
    float: left;
    margin-left: 1%;
    margin-top: 3px;
    
}
.font-family{
    font-family: 'Open Sans', sans-serif;
}
.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.centerflex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img{
    height: 248px;
    width: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;     
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.parentL 
{
    position: relative;
    max-width: 48%;
    margin-left: 0px;
    background-color: white;
}
.parentL img 
{
    width: 100%;
}
.parentL .text 
{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.header365{
    text-align: center;
    margin-left: 46%;
    margin-bottom: 5%;
    font-size: 250%;
}
.absatz365{
    text-align: center;
    margin-left: 46%;
    margin-bottom: 7%;
    font-size: 150%;
    align-items: stretch;
}
.parentL, .parentR {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    max-width: 48%;
}

.parentR{
    background-color: #c1dff9;
}

.parentR img 
{
    width: 100%;
}
.parentR .text 
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.colorblue{
    color: #2c6fbb;
}


.zeromargin{
    margin-top: 0%;
    margin-bottom: 0%;
}
.PaperCutHead{
    font-size: 150%;
}

.seiteninhalt-login{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 .status_input{
    color: white;
    background-color: 	#104e8b;
    font-family: 'Open Sans', sans-serif;
    width: 400px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #a2cffe;
    font-size: 100%;
    padding: 8px;
 }
 .status_input::placeholder {
    color: white; 
}

.status_button{
    background-color: #104e8b;
    border:  3px solid #a2cffe;
    color: white;
    padding: 1% ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1%;
    margin-top: 0%;
    width: 200px;
 }
 
 .exportbutton
 {
    background-color: #104e8b;
    border:  1px solid #a2cffe;
    color: white;
    padding: 5px ;
    text-align: center;
    display: inline-block;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
    margin-top: 0%;
    width: 150px;
 }

 .button_redirect{
    background-color: #104e8b;
    border:  3px solid #a2cffe;
    color: white;
    padding: 1% ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1%;
    margin-top: 0%;
    width: 400px;
 }
 .button_redirect:hover{
    background-color: white;
    color: #133e5e;
 }

 .status_button:hover{
    background-color: white;
    color: #133e5e;
 }
 
.login{
    background-color: #2c6fbb;
    color: white;
    border-radius: 1%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1%;
 }

 .footer {
        position: sticky;
        top: 100%;
        bottom: 0;
        left: 0;
        background-color: #94b0cc;
        color: #333;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;

}

.left-section {
    text-align: left;
    margin-left: 1%;
}


.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links li:last-child {
    margin-right: 0;
}

.right-section {
    text-align: right;
    margin-right: 1%;
}

.abstand{
    margin-top: 3%;
    margin-bottom: 1%;
}

.fehler{
    font-family: 'Open Sans', sans-serif;
    background-color: #2c6fbb;
    border: 2px solid red;
    color: white;
    text-align: center;
    display: block;
    padding: 1%;
    font-size: 150%;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
 }

 .Tabelle {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-bottom: 1%;
}

.Tabelle th,
.Tabelle td {
    padding: 10px;
    text-align: center;
    border: 1px solid white;
}

.Tabelle th {
    background-color: #2c6fbb;
}

.Tabelle tr:nth-child(even) {
    background-color: #2c6fbb;
}

.Tabelle tr:nth-child(odd) {
    background-color: #2c6fbb;
}

.it{
    width: 50%;
    padding-top: 0px;
}
.select-container{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 250px;
    height: 50px;
}
.select-box{
    border: 3px solid #a2cffe;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 400px;
    color: white;
    background-color: #104e8b;
    font-size: 20px;
}
.select-container .icon-container{
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #023ca9;
}



@media(max-width: 750px)
{
.button_redirect
{
    width: 90%;
}
h1, h2, h3, h4, h5
{
    font-weight: 100;
    font-size: 200%;
}

p, ol, ul{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.header{
    display: flex;
    height: 40px;
}

.header_schrift{
    color: white;
    font-size: 15px;
    font-weight: 400;

}
.fehler{
    font-size: 100%;
    font-weight: 50;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 75%;
    margin-left: 2%;
    margin-right: 2%;
 }

 .img{
    height: 148px;
    width: auto;
    margin-top: 3%;
    margin-bottom: 0%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;     
}
    


    .status_input{
        width: 80%;

    }

    .status_button{
        width: 80%;
    }
    .login{
        margin-left: 0%;
        margin-right: 0%;
    
    }

    .seiteninhalt{
        margin-left: 2%;
        margin-right: 2%;
    }


    input{
        width: 100%;
    }
}